{{ ansible_managed | comment }}

{{ logrotate_setting.paths | join("\n") }} {
{% if logrotate_setting.frequency is defined %}
    {{ logrotate_setting.frequency }}
{% endif %}
{% if logrotate_setting.compress | default(false) %}
    compress
{% endif %}
{% if logrotate_setting.delaycompress | default(false) %}
    delaycompress
{% endif %}
{% if logrotate_setting.rotate is defined %}
    rotate {{ logrotate_setting.rotate }}
{% endif %}
{% if logrotate_setting.minsize is defined %}
    minsize {{ logrotate_setting.minsize }}
{% endif %}
{% if logrotate_setting.missingok | default(false) %}
    missingok
{% endif %}
{% if logrotate_setting.nomissingok | default(false) %}
    nomissingok
{% endif %}
{% if logrotate_setting.notifempty | default(false) %}
    notifempty
{% endif %}
{% if logrotate_setting.copy | default(false) %}
    copy
{% endif %}
{% if logrotate_setting.copytruncate | default(false) %}
    copytruncate
{% endif %}
{% if logrotate_setting.create is defined and logrotate_setting.create %}
{% set create_directive = 'create' %}
{% if logrotate_setting.create_mode is defined %}
{% set create_directive = create_directive ~ ' ' ~ logrotate_setting.create_mode -%}
{% endif %}
{% if logrotate_setting.create_user is defined -%}
  {% set create_directive = create_directive ~ ' ' ~ logrotate_setting.create_user -%}
{% endif %}
{% if logrotate_setting.create_group is defined -%}
  {% set create_directive = create_directive ~ ' ' ~ logrotate_setting.create_group -%}
{% endif %}
    {{ create_directive }}
{% endif %}
{% if logrotate_setting.sharedscripts | default(false) %}
    sharedscripts
{% endif %}
{% if logrotate_setting.dateext | default(false) %}
    dateext
{% endif %}
{% if logrotate_setting.dateformat | default(false) %}
    dateformat {{ logrotate_setting.dateformat }}
{% endif %}
{% if logrotate_setting.prerotate is defined %}
    prerotate
        {{ logrotate_setting.prerotate | trim | indent(8) }}
    endscript
{% endif %}
{% if logrotate_setting.postrotate is defined %}
    postrotate
        {{ logrotate_setting.postrotate | trim | indent(8) }}
    endscript
{% endif %}
}
