{{ setting.value.paths | join("\n") }} {
{% if setting.value.frequency is defined %}
    {{ setting.value.frequency }}
{% endif %}
{% if setting.value.compress is defined and setting.value.compress %}
    compress
{% endif %}
{% if setting.value.delaycompress is defined and setting.value.delaycompress %}
    delaycompress
{% endif %}
{% if setting.value.rotate is defined %}
    rotate {{ setting.value.rotate }}
{% endif %}
{% if setting.value.minsize is defined %}
    minsize {{ setting.value.minsize }}
{% endif %}
{% if setting.value.missingok is defined and setting.value.missingok %}
    missingok
{% endif %}
{% if setting.value.nomissingok is defined and setting.value.nomissingok %}
    nomissingok
{% endif %}
{% if setting.value.notifempty is defined and setting.value.notifempty %}
    notifempty
{% endif %}
{# 辞書のcopyメソッドの影響で定義済みか否かの判定がズレてしまうためcopyのみ判定方法を調整 #}
{% if 'copy' in setting.value and setting.value['copy'] %}
    copy
{% endif %}
{% if setting.value.copytruncate is defined and setting.value.copytruncate %}
    copytruncate
{% endif %}
{% if setting.value.create is defined %}
    create {{ setting.value.create.mode }} {{ setting.value.create.user }} {{ setting.value.create.group }}
{% endif %}
{% if setting.value.su is defined %}
    su {{ setting.value.su.user }} {{ setting.value.su.group }}
{% endif %}
{% if setting.value.sharedscripts is defined and setting.value.sharedscripts %}
    sharedscripts
{% endif %}
{% if setting.value.dateext is defined and setting.value.dateext %}
    dateext
{% endif %}
{% if setting.value.dateformat is defined %}
    dateformat {{ setting.value.dateformat }}
{% endif %}
{% if setting.value.prerotate is defined %}
    prerotate
        {{ setting.value.prerotate | trim | indent(8) }}
    endscript
{% endif %}
{% if setting.value.postrotate is defined %}
    postrotate
        {{ setting.value.postrotate | trim | indent(8) }}
    endscript
{% endif %}
}
